@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Montserrat|Roboto";
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box; }

/*para definir tudo como padrao e o (*) serve para tudo o que vc for colocar na tela*/
header {
  float: left;
  padding: 0px; }

body {
  padding: 0px;
  margin: 0px;
  background-color: #fff;
  font-size: 62.5%;
  background: #fff !important; }

img {
  max-width: 100%; }

#container {
  width: 1008px;
  margin: 0px auto;
  display: table;
  margin-bottom: 15px;
  margin-top: 0px; }

.aside-bar {
  width: 260px;
  height: 1000px;
  float: left;
  background: #1F1E1E; }

.aside-bar img {
  width: 43%;
  float: left;
  margin: 36px 74px 36px 74px;
  border: 4px solid #fff; }

.photo-users {
  width: 100%;
  height: 176px;
  border-bottom: 1px solid #424242; }

/*começo do menu*/
#menu {
  width: 100%; }

#menu ul {
  padding: 0px;
  margin: 0px;
  list-style: none; }

#menu ul li {
  display: inline; }

#menu ul li a {
  padding: 14px 27px;
  display: inline-block;
  color: #505050;
  text-decoration: none;
  margin: 0px 0px;
  width: 100%;
  font-size: 1.3em; }

#menu ul li a:hover {
  background-color: #272727;
  color: #fff;
  border-left: 3px solid #FF0069; }

#menu .fa {
  margin-right: 16px; }

/*final do menu do menu*/
/*pagina home*/
.container-conteudo {
  margin-top: 30px; }

.background-header {
  background-color: #F2F2F2; }

.background-body {
  background-color: #F2F2F2; }

.navbar-form .input-group {
  top: 20px; }

.titulo-page-conteudo-home {
  width: 30%;
  float: left;
  margin: 44px 10px 44px 18px; }

.titulo-page-conteudo-home h1 {
  color: #565656;
  font-size: 1.9em !important;
  font-weight: 600 !important; }

.titulo-page-conteudo-home p {
  color: #C6C6C6 !important;
  font-size: 1.2em;
  font-weight: 300; }

.titulo-page-header h1 {
  color: #B2B2B2 !important; }

.titulo-page-header p {
  color: #C6C6C6 !important; }

.titulo-page-conteudo-conteudo {
  margin-top: 30px; }

.titulo-page-conteudo-conteudo p {
  color: #000 !important;
  font-size: 1.2em;
  font-weight: 300;
  text-align: justify; }

/*content*/
.titulo-page-conteudo-thumbnail {
  width: 30%;
  float: left;
  margin: 44px 10px 44px 18px; }

.titulo-page-conteudo-thumbnail h1 {
  color: #565656;
  font-size: 1.9em !important;
  font-weight: 600 !important; }

.titulo-page-conteudo-thumb p {
  color: #000 !important;
  font-size: 1.2em;
  font-weight: 300; }

.titulo-page-conteudo-thumb a {
  color: #FF0069;
  font-size: 1.0em;
  font-weight: 300;
  text-decoration: none; }

.titulo-page-conteudo-thumb a:hover {
  color: #4ABAFC;
  text-decoration: none; }

.titulo-page-conteudo-thumbnail {
  width: 70%;
  float: left; }

.video-conteudo-home {
  width: 59%;
  float: left;
  margin: 0px 0px 0px 15px; }

/*ICONES CORES INICIO*/
.icon-style-rosa {
  width: 50px;
  height: 50px;
  margin-top: 51px;
  float: left;
  text-align: center;
  background-color: #FF0069; }

.icon-style-rosa i {
  color: #fff;
  font-size: 2.7em;
  padding-top: 5px; }

.icon-style-azul {
  width: 50px;
  height: 50px;
  margin-top: 51px;
  float: left;
  text-align: center;
  background-color: #4ABAFC; }

.icon-style-azul i {
  color: #fff;
  font-size: 2.1em;
  padding-top: 11px; }

.icon-style-vermelho {
  width: 50px;
  height: 50px;
  margin-top: 51px;
  float: left;
  text-align: center;
  background-color: #F34E58; }

.icon-style-vermelho i {
  color: #fff;
  font-size: 2.2em;
  padding-top: 10px; }

/*ICONES CORES FINAL*/
/*mechendo nas thuumbnail*/
.thumb-content.col-md-4 {
  padding-left: 0px !important;
  margin-right: 20px !important;
  padding-right: 0px !important;
  width: 32.04% !important; }

.thumb-content.col-md-4:nth-child(3) {
  margin-right: 0px !important; }

/*# sourceMappingURL=style.css.map */
