@import 'https://fonts.googleapis.com/css?family=Montserrat|Roboto';

@font-face{font-family:'Montserrat Hairline';font-style:normal;font-weight:400;src:local('Montserrat Hairline'),local('Montserrat-Hairline'),url(http://allfont.es/cache/fonts/montserrat-hairline_2c5c1d56419aab19913d7c7f93fee7f1.woff) format('woff'),url(http://allfont.es/cache/fonts/montserrat-hairline_2c5c1d56419aab19913d7c7f93fee7f1.ttf) format('truetype');}

$cinza: #ccc;
$preto: #000;
$branco: #fff;
$vermelho: #F00;
$asidepadrao: #1F1E1E;
$colortextodefault: #505050;
$rosa: #FF0069;
$azulclaro: #4ABAFC;
$azulclaro1: #24CAC8;
$vermelhoicon: #F34E58;
$texto: Montserrat, Verdana, Tahoma;
$titulo: Roboto, Tahoma;

* { margin: 0px; padding: 0px; text-decoration: none; box-sizing: border-box;} /*para definir tudo como padrao e o (*) serve para tudo o que vc for colocar na tela*/
header{
    float: left;
    padding: 0px;

}
body {
    padding:0px;
    margin:0px;
    background-color: $branco;
    font-size: 62.5%;
    background: $branco !important;
}
img {
    max-width: 100%;
}
#container {
    width: 1008px;
    margin: 0px auto;
    display: table;
    margin-bottom: 15px;
    margin-top: 0px;
}
.aside-bar {
    width: 260px;
    height: 1000px;
    float: left;
    background: $asidepadrao;
}
.aside-bar img {
    width: 43%;
    float: left;
    margin: 36px 74px 36px 74px;
    border: 4px solid #fff;
}
.photo-users {
    width: 100%;
    height: 176px;
    border-bottom: 1px solid #424242;
}

/*começo do menu*/
#menu {
    width: 100%;
}
#menu ul {
    padding:0px;
    margin:0px;
    list-style:none;
}
#menu ul li { display: inline; }
#menu ul li a {
    padding: 14px 27px;
    display: inline-block;
    color: $colortextodefault;
    text-decoration: none;
    margin: 0px 0px;
    width: 100%;
    font-size: 1.3em;
}
#menu ul li:hover a, ul li:active a{
    background-color: #272727;
    color: $branco;
    border-left: 3px solid $rosa;
}
#menu .fa {
    margin-right: 16px;
}
/*final do menu do menu*/

/*pagina home*/
.container-conteudo {
    margin-top: 30px;
}
.background-header {
    background-color: #F2F2F2;
}
.background-body {
    background-color: #F2F2F2;
}
.navbar-form .input-group {
    top: 20px;
}
.titulo-page-conteudo-home{
    width: 30%;
    float: left;
    margin: 44px 10px 0px 18px;
}
.titulo-page-conteudo-home h1 {
    color: #475055;
    font-size: 1.9em !important;
    font-weight: 600 !important;
}
.titulo-page-conteudo-home p {
    color: #a3abaf !important;
    font-size: 1.1em;
    font-weight: 900;
    font-family: Montserrat Hairline;
}
.titulo-page-header h1 {
    color: #666666 !important;
    font-family: Montserrat Hairline;
    font-weight: normal;

}
.titulo-page-header p {
    color: #acacac !important;
    font-family: unset;
}
.titulo-page-conteudo-conteudo {
    margin-top: 30px;
}
.titulo-page-conteudo-conteudo p {
    color: #475055 !important;
    font-size: 1.2em;
    font-weight: 900;
    font-family: Montserrat Hairline;
}
.titulo-page-conteudo-thumbnail p{
    color: #a3abaf !important;
    font-size: 1.1em;
    font-weight: 900;
    font-family: Montserrat Hairline;
}
/*content*/
.titulo-page-conteudo-thumbnail{
    width: 30%;
    float: left;
    margin: 44px 10px 44px 18px;
}
.titulo-page-conteudo-thumbnail h1 {
    color: #565656;
    font-size: 1.9em !important;
    font-weight: 600 !important;
}
.titulo-page-conteudo-thumb p {
    color: $preto !important;
    font-size: 1.1em;
    font-weight: 900;
    font-family: Montserrat Hairline;
}
.titulo-page-conteudo-thumb a {
    color: $rosa;
    font-size: 1.0em;
    font-weight: 900;
    text-decoration: none;
}
.titulo-page-conteudo-thumb a:hover {
    color: $azulclaro;
    text-decoration: none;
}
.titulo-page-conteudo-thumbnail {
    width: 70%;
    float: left;
}
.video-conteudo-home{
    width: 61.0%;
    float: left;
    margin: 0px 0px 0px 15px;
}
/*ICONES CORES INICIO*/
.icon-style-rosa {
    width: 50px;
    height: 50px;
    margin-top: 51px;
    float: left;
    text-align: center;
    background-color: $rosa;
}
.icon-style-rosa i {
    color: $branco;
    font-size: 2.7em;
    padding-top: 5px;
}
.icon-style-azulclaro1 {
    width: 50px;
    height: 50px;
    margin-top: 51px;
    float: left;
    text-align: center;
    background-color: $azulclaro1;
}
.icon-style-azulclaro1 i {
    color: $branco;
    font-size: 2.1em;
    padding-top: 12px;
}
.icon-style-azul {
    width: 50px;
    height: 50px;
    margin-top: 51px;
    float: left;
    text-align: center;
    background-color: $azulclaro;
}
.icon-style-azul i {
    color: $branco;
    font-size: 2.1em;
    padding-top: 11px;
}
.icon-style-vermelho {
    width: 50px;
    height: 50px;
    margin-top: 51px;
    float: left;
    text-align: center;
    background-color: $vermelhoicon;
}
.icon-style-vermelho i {
    color: $branco;
    font-size: 2.2em;
    padding-top: 10px;
}
/*ICONES CORES FINAL*/

/*mechendo nas thuumbnail*/
.thumb-content.col-md-4 {
    padding-left: 0px !important;
    margin-right: 20px !important;
    padding-right: 0px !important;
    width: 32.04% !important;
}
.thumb-content.col-md-4:nth-child(3) {
    margin-right: 0px !important;
}
/*mais noticias*/
.conteudo-noticias {
    width: 68%;
}
.titulo-page-conteudo-noticias{
    width: 87.4%;
    float: left;
    margin: 44px 18px 44px 18px;
}
.titulo-page-conteudo-noticias h1 {
    color: #565656;
    font-size: 1.9em !important;
    font-weight: 600 !important;
}
.titulo-page-conteudo-noticias p {
    color: $preto !important;
    font-size: 1.1em;
    font-weight: 900;
    font-family: Montserrat Hairline;
}
.conteudo-noticias a {
    color: $rosa;
    font-size: 1.0em;
    font-weight: 900;
    text-decoration: none;
}
.conteudo-noticias a:hover {
    color: $azulclaro;
    text-decoration: none;
}
.informacoes-publico-centro {
    width: 100%;
}
.informacoes-publico {
    width: 33.333333333%;
    float: left;
    color: $preto !important;
    font-size: 1.1em;
    font-weight: 300;
}
.informacoes-publico i{
    color: $azulclaro1;
}